@font-face {
    font-family: Algerian Regular;
    src: url(Algerian Regular.ttf);
}

#logo
{
	width: 26vw;
	height: 6vw;
}

a, a:hover, a:active, a:visited { color: white; }

body {
  background-image: url('img/backgroundAbout.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}



.dropbtn {

    padding: 0vw;
    border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	left: 0vw;

}

.dropdown_content {
	display: none;
	position: absolute;
	min-width: 160px;
	width: 26vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown_content a {
  background-color: rgba(66,66,66,0.8);
	font-family: verdana;
	color: ffffff;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown_content a:hover
{
	background-color: gray;
}

.dropdown:hover .dropdown_content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	background-color: ;
}


#sideText1
{
	font-family: Algerian Regular;
	font-size: 4vw;
	position: absolute;
	top: 10vw;
	left: 57vw;
  text-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: rgba(23,35,237,0.8);
	color: #ffffff;
}
#sideText2
{
	font-family: Algerian Regular;
	font-size: 4vw;
	position: absolute;
	top: 18vw;
	left: 70vw;
  text-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: rgba(23,35,237,0.8);
	color: #ffffff;
}
#sideText3
{
	font-family: Algerian Regular;
	font-size: 4vw;
	position: absolute;
	top: 26vw;
	left: 62vw;
  text-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: rgba(23,35,237,0.8);
	color: #ffffff;
}
#sideText4
{
	font-family: Algerian Regular;
	font-size: 2.7vw;
	position: absolute;
	top: 35vw;
	left: 78vw;
  text-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: rgba(23,35,237,0.8);
	color: #ffffff;
}


#aboutHead
{
	font-family: Algerian Regular;
	font-size: 4vw;
	position: absolute;
	top: 1vw;
	left: 44vw;
	color: #000000;
}


#aboutSlides
{
	width: 45vw;
	height: 38vw;
	position: absolute;
	left: 7vw;
	top: 10vw;
}



.footerAboutLeft {
    font-family: verdana;
    font-size: 1vw;
    color: #000000;
    float: left;
}

.footerAboutRight {
    font-family: verdana;
    font-size: 1vw;
    color: #000000;
    float: right;
}





footer
{
	height: 2.5vw;
	width: 99vw;
	bottom: 0vw;
	position: absolute;
	background-color: gray;
}
