@font-face {
    font-family: Algerian Regular;
    src: url(Algerian Regular.ttf);
}

#logoResinSun
{
	width: 26vw;
	height: 6vw;
}

a, a:hover, a:active, a:visited { color: white; }

body {
  background-image: url('img/backgroundSellers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}



.dropbtn {

    padding: 0vw;
    border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	left: 0vw;

}

.dropdown_content {
	display: none;
	position: absolute;
	min-width: 160px;
	width: 26vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown_content a {
  background-color: rgba(66,66,66,0.8);
	font-family: verdana;
	color: ffffff;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown_content a:hover
{
	background-color: gray;
}

.dropdown:hover .dropdown_content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	background-color: ;
}






.footerSellLeft {
    font-family: verdana;
    font-size: 1vw;
    color: #000000;
    float: left;
}

.footerSellRight {
    font-family: verdana;
    font-size: 1vw;
    color: #000000;
    float: right;
}





footer
{
	height: 2.5vw;
	width: 99vw;
	bottom: 0vw;
	position: absolute;
	background-color: gray;
}


#productHead
{
	font-family: Algerian Regular;
	font-size: 9vw;
	position: absolute;
	top: 0vw;
	left: 37vw;
	color: #ffffff;
  background-color: rgba(66,66,66,0.0);
}





.resinSunProduct
{
	width: 20vw;
	height: 5vw;
}

.resinSunProduct-card-inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.resinSunProduct-card-front, #resinSunProduct-card-insideBack-1
{
    position: absolute;
    width: 20vw;
    height: 5vw;
    backface-visibility: hidden;
}

.resinSunProduct-card-front {
    background-color: none;
}

#resinSun_Product-1 {
    background-color: transparent;
    width: 20vw;
    height: 5vw;
	position: absolute;
	top: 23vw;
	left: 40vw;
}

#resinSunProduct-card-insideBack-1 {
    background-color: rgba(103,101,103,0.825);
    color: ffffff;
    transform: rotateY(180deg);
	font-family: verdana;
	font-size: 1vw;
}

#resinSun_Product-1:hover .resinSunProduct-card-inside {
    transform: rotateY(180deg);
}







.gabriellaProduct
{
	width: 20vw;
	height: 15vw;
}

.gabriellaProduct-card-inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0);
}

.gabriellaProduct-card-front, #gabriellaProduct-card-insideBack-1
{
    position: absolute;
    width: 20vw;
    height: 15vw;
    backface-visibility: hidden;
}

.gabriellaProduct-card-front {
    background-color: none;
}

#gabriella_Product-1 {
    background-color: transparent;
    width: 20vw;
    height: 15vw;
	position: absolute;
  top: 18vw;
	left: 12vw;
}

#gabriellaProduct-card-insideBack-1 {
    background-color: rgba(103,101,103,0.825);
    color: ffffff;
    transform: rotateY(180deg);
	font-family: verdana;
	font-size: 1vw;
}

#gabriella_Product-1:hover .gabriellaProduct-card-inside {
    transform: rotateY(180deg);
}






.fallen_legendz_kooziesProduct
{
	width: 20vw;
	height: 15vw;
}

.fallen_legendz_kooziesProduct-card-inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0);
}

.fallen_legendz_kooziesProduct-card-front, #fallen_legendz_kooziesProduct-card-insideBack-1
{
    position: absolute;
    width: 20vw;
    height: 15vw;
    backface-visibility: hidden;
}

.fallen_legendz_kooziesProduct-card-front {
    background-color: none;
}

#fallen_legendz_koozies_Product-1 {
    background-color: transparent;
    width: 20vw;
    height: 15vw;
	position: absolute;
  top: 18vw;
	left: 66vw;
}

#fallen_legendz_kooziesProduct-card-insideBack-1 {
    background-color: rgba(103,101,103,0.825);
    color: ffffff;
    transform: rotateY(180deg);
	font-family: verdana;
	font-size: 1vw;
}

#fallen_legendz_koozies_Product-1:hover .fallen_legendz_kooziesProduct-card-inside {
    transform: rotateY(180deg);
}
